<div class="container-fluid min-100 d-flex">
	<div class="row flex-grow-1 bg-light investment_wizard_steps">

    <div class="col p-4">

      <div class="center">
        <%#= cf_icon "#{@investment.payment_method.ticker} ", style: "font-size: 18rem" %>
      </div>

      <div class="main_block">
        <header>
          <h3>Please send your money</h3>
          <h6>
            Payment awaiting
            <%= @investment.payment_method.ticker.upcase %>
            <%= fiat_rate(@investment.currency,@investment.payment_method.ticker,@investment.invested_amount.to_f) %>,
            payment method: <%= @investment.payment_method.name %>.
          </h6>
        </header>
      </div>

      <div class="center">
        <%= render "payment_form" %>
        <%#= binding.pry %>
        <script>window.investment = '<%= @investment.id %>'; </script>

        <button id="pay_paybear" class="btn btn-primary">Pay with <%= @investment.payment_method.name %></button>

      </div>
    </div>

  </div>
</div>

