<div class="inv-wiz">
<div class="container-fluid  min-100  d-flex flex-col">
  <div class="row flex-grow-1 bg-light investment_wizard_steps">

    <div class="col-md-9 p-4 flex-grow-1">
      <div class="back"><%= link_to fa_icon("arrow-left", text: "Back"), amount_wizard_investment_path %> </div>

      <div class="main_block">
        <header><h4>Choose your payment method</h4><h6>With Coinmitted, you can use your account balance, Bitcoin, Ethereum, and Litecoin</h6></header>

        <%= form_for @investment_wizard, as: :investment_wizard, url: validate_step_wizard_investment_path do |form| %>
          <%= hidden_field_tag :current_step, 'payment' %>
          <%= form.hidden_field :payment_method_id, id: "radio_value" %>

          <% @investment_wizard.errors.full_messages.each do |error| %>
            <div class="form-group">
              <p style="color:red"><%= error %></p>
            </div>
          <% end %>


          <div class="card-group radio-group">
            <% @payment_method.each do |item| %>
              <!-- <%= item.name %> -->
              <div class="col-sm-6">
                <div class="card radio" data-value="<%= item.id %>">
                  <div class="card-content">
                    <div class="card-title">
                      <%= cf_icon "#{item.ticker} 3x" %>
                      <h3><%= item.name %></h3>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>

          </div><!-- /radio_group -->


          <div class="form-group center" style="clear:both">
            <%= form.submit "Continue", id: "paybear-all", class: "btn btn-primary btn-submit" %>
          </div>
        <% end %>


      </div>

    </div>

    <div class="col-md-3 p-4 flex-grow-1 wizard_sidebar" >

      <div class="cancel">
        <button type="button"  data-toggle="modal" data-target="#exampleModal">
          <%= fa_icon "close" %>
        </button>
      </div>

      <h4>Investment Summary</h4>
      <div class="steps_selected">
        <ul>
          <%#<li>%>
            <!--<p><%#= fa_icon "check" %> Investment Plan</p>-->
            <!--<p class="selected"><%#= @investment_wizard.investment.investment_plan.title %> <%#= @investment_wizard.investment.investment_plan.subtitle %></p>-->
          <%#</li>%>
          <li>
            <p><%= fa_icon "check" %> Investment Name</p>
            <p class="selected"><%= @investment_wizard.investment.name %></p>
          </li>
          <li>
            <p><%= fa_icon "check" %> TimeFrame</p>
            <p class="selected"><%= @investment_wizard.investment.timeframe_months %></p>
          </li>
          <li>
            <p><%= fa_icon "check" %> PayoutFrequency</p>
            <p class="selected"><%= @investment_wizard.investment.payout_frequency.title %></p>
          </li>
          <li>
            <p><%= fa_icon "check" %> Initial Deposit</p>
            <p class="selected"><%= @cur_sign[@currency] %> <%= @investment_wizard.investment.invested_amount %></p>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>

<%= render "cancel_modal" %>
</div>
