<div class="inv-wiz">
<div class="container-fluid min-100 d-flex">
	<div class="row flex-grow-1 bg-light investment_wizard_steps">

    <div class="col p-4">
      <div class="back"><%= link_to fa_icon("arrow-left", text: "Back"), start_wizard_investment_path %> </div>
      <div class="cancel">
      <button type="button"  data-toggle="modal" data-target="#exampleModal">
        <%= fa_icon "close" %>
      </button>
      </div>
    </div>

    <header><h3>Choose an Investment Plan</h3></header>

    <%= form_for @investment_wizard, as: :investment_wizard, url: validate_step_wizard_investment_path do |form| %>
      <%= hidden_field_tag :current_step, 'plan' %>
      <%= form.hidden_field :investment_plan_id, id: "radio_value" %>

      <% @investment_wizard.errors.full_messages.each do |error| %>
        <div class="form-group">
          <p style="color:red"><%= error %></p>
        </div>
      <% end %>

      <div class="card-group radio-group">
        <% @investment_plans.each do |item| %>
          <!-- item.title -->
          <div class="col-sm-4">
            <div class="card radio" data-value="<%= item.id %>">
              <div class="card-content">
                <div class="card-title">
                  <h3><%= item.title %></h3>
                </div>
                <h4><%= item.subtitle %></h4>
                <%= sanitize item.description %>
              </div>
            </div>
          </div>
        <% end %>

      </div><!-- /radio_group -->

      <div class="form-group center" style="clear:both">
        <%= form.submit "Continue", class: "btn btn-primary btn-submit" %>
      </div>
    <% end %>

  </div>
</div>

<%= render "cancel_modal" %>
</div>
