<%= form_with scope: :profile, url: @profile.admin_edit_user ? password_update_user_profile_path(@profile) : password_update_profile_path, local: true, class: "left-space-fix"  do |f| %>
  <%= f.fields_for :user do |u| %>

    <% unless current_user.admin? && params[:id].present? %>
      <div class="single-input-group small-box">
        <%= label_tag "Old Password", nil,class: "title font-fix" %>
      <%= password_field_tag :current_password, params[:current_password], class: "fong-fix" %>
      </div> <!-- /.single-input-group -->
    <% end %>

      <div class="single-input-group small-box">
        <%= u.label "New Password", class: "title font-fix" %>
        <%= u.password_field :password, class: "font-fix" %>
      </div> <!-- /.single-input-group -->

      <div class="single-input-group small-box">
      <%= u.label "Confirm New Password", class: "title font-fix" %>
      <%= u.password_field :password_confirmation, class: "font-fix" %>
      </div> <!-- /.single-input-group -->
      <button type="submit" class="theme-button"><span></span>Change Password</button>

  <% end %>
<!--
  <div id='pass_errors'></div>

  <%#= f.fields_for :user do |u| %>

    <%# unless current_user.admin? && params[:id].present? %>
    <div class="form-group">
      <%#= label_tag "Old Password" %>
      <%#= password_field_tag :current_password, params[:current_password], class: "form-control" %>
    </div>
  <%# end %>

    <div class="form-group">
      <%#= u.label "New Password" %>
      <%#= u.password_field :password, class: "form-control" %>
    </div>

    <div class="form-group">
      <%#= u.label "Confirm New Password" %>
      <%#= u.password_field :password_confirmation, class: "form-control" %>
    </div>
  <%# end %>

  <button type="submit" class="btn btn-primary">Save</button>
-->
<% end %>
