<!DOCTYPE html>
<html>
  <head>
    <title>Coinmitted</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
		<%= stylesheet_link_tag    'bootstrap/session_layout' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

   <%= yield %>
  </body>
</html>
